@charset "utf-8";
html{scroll-behavior: smooth;}
body{ overflow-x: hidden}
.background{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

.hero.background{
    background-image: url('../images/motorcycle.jpg');
  }

.section.background{
  }

.has-text-shadow-danger{
  text-shadow: 0 0 10px red;
}

.down-arrow{position: relative;animation: jump 1.5s infinite;animation-timing-function: ease-out;}
@keyframes jump{50% {transform: translateX(-10px);}}
