html{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: gray;
    scroll-behavior: smooth;
    }

header{
    background-image: url('home-office.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    text-align: center;
}

header p{
    margin-top: 10rem;
}

h1, h2, h3, h4{
    font-weight: 100;
    margin: 0;
}

.branding{
    font-size: 8rem;
    font-variant: small-caps;
    padding-top: 10rem;
    text-shadow: 0px 1px 0px slateblue;
}

.button{
    text-decoration: none;
    color: white;
    padding: 1rem 2rem;
    background-color: slateblue;
    border-radius: 8px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5rem;
}

.services{
    width: 25%;
    margin: 2rem;
}