*{
    font-weight: 100;
}

html{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    color: #6d6d6d;
    height: 100%;
    overflow: hidden;
}

body{
    perspective: 1px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header{
    background-image: url('home-office.jpg');
    color: white;
}

header h1{
    font-size: 4.5rem;
    text-shadow: 0 0 10px beige;
    margin: 1rem;
}

header h2{
    text-shadow: 0 0 5px black;
}

header a{
    text-decoration: none;
    padding: .5rem 1rem;
    background-color: #D81164;
    border-radius: .25rem;
    color: white;
    transition: .5s;
}

header a:hover{
    box-shadow: #6d6d6d 0 0 10px;
    background-color: #04AAAA;
}

.brief, .aboutus{
    text-align: center;
    padding: 1rem 2rem;
}

.product{
    padding: 1rem 2rem;
    margin: 0;
}

h2, h3{
    margin: 0;
    text-shadow: 0 0 1px gray;
}

.product h2{
    margin-left: -.25rem;
}

ul{
    all: unset;
    list-style-type: square;
}

.product .material-icons{
    font-size: 3rem;
    color: #04AAAA;
}

.aboutus{
    background-image: url('people.jpg');
    margin: 0 auto;
    padding: 0;
}

.aboutus div{
    padding: 1rem;
    background-color: black;
    color: white;
    opacity: .8;
}

footer{
    text-align: center;
    font-size: 1.25rem;
    background-color: #04AAAA;
    color: white;
    padding: 2rem;
    border-top: .25rem solid #D81164;
}

.parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    background-position: center;
    background-size: cover;
    z-index:2;
}

.parallax-content{
    transform: translateZ(.25px) scale(.75);
    text-align: center;
}


@media screen and (min-width: 600px){
    .brief{
        padding: 1rem 4rem;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
        justify-content: center;
    }

    .product{
        flex: 1 1 14rem;
    }

    .aboutus div{
        border-radius: .5rem;
        margin: 2rem 5rem;
    }
}

@media screen and (min-width: 1000px){
    .brief{
        padding: 1rem 10rem;
    }

    .product{
        max-width: 14rem;
    }
}